{% extends 'base.html' %}

{% block content %}
<div class="container py-4">
  <div class="card w-75 mx-auto">
    <div class="card-header">Crear Pool</div>
    <div class="card-body">
      <form action="{{url_for("main.crear_pool")}}" method="post">
        {{form.pool_name.label(class_="col-md-4 col-form-label text-md-right")}}
        {{form.pool_name(class_='form-control')}}
        {{ form.csrf_token }}
        {{form.submit(class_='btn btn-primary')}}
      </form>
  </div>
  </div>
</div>
{% endblock %}