{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>ST0263 Tópicos Especiales en Telematica</h1>
    <h2>Estudiantes:</h2>
        <ul>
            <li>Mauricio Escudero, mescude1@eafit.edu.co</li>
            <li>Jose Alejandro Sánchez Sánchez, jasanchez@eafit.edu.co</li>
            <li>Edison Alejandro Torres Muñoz, eatorresm@eafit.edu.co</li>
        </ul>
    <h2>Profesor:</h2>
        <p>Edwin Nelson Montoya Munera, emontoya@eafit.edu.co</p>
    <h2>Proyecto 2</h2>
    <h3>Breve descripción de la actividad</h3>
        <p>La actividad consistirá en diseñar e implementar un servicio de autoescalamiento que operará sobre instancias EC2 de AWS de Amazon. El objetivo es lograr una alta disponibilidad y rendimiento en el sistema distribuido mediante el uso de balanceadores de carga y grupos de autoescalamiento.</p>
</div>
{% endblock %}
